body{margin:0px;padding:0px;}
table{ *width:100%;}

div{padding:0;border:0;margin:0;white-space:nowrap;}
/*内容填充模块样式*/
*{ box-sizing: border-box;}

.item_wapper{ 
	display: table;
	width:100%; 
	/*IE Quikers hack*/
	background: url(../img/panel3.gif) repeat-y;
    background-position: 156px 0px;
    *background-position: 150px 0px;
    background-color: #e7e7e7;
}/*670px*/

.item_title,
.item_content {
	text-align: center;
	display: table-cell;
	background-color:#FFF;/*IE Quikers*/
	*zoom:1;
}

.item_content{
	width:auto;/*IE8+*/
	*width:506px;
	min-height: 500px;
	*min-height: 500px;
}

.item_title{   
	width:164px;  
	*width:159px;/*Quikers item_title和item_content换行了*/ 
	background: url(../img/panel3.gif) repeat-y;
    background-position: 156px 0px;
    *background-position: 159px 0px;
   	background-color: #e7e7e7;
   	*background-color: #ef8218;/*IE Quikers*/
	*float:left;/*IE7 hack*/
	/*兼容IE Quikers*/
	height:30px;
	line-height: 30px;
	color:#FFF;
	text-align:right;	
	_padding-right:15px;/*Quikers*/
}

._title{
	background-color:#ef8218;
}

._title span{ color:#FFF; padding-right:15px;/*Chrome, IE7+*/}